<?php
return [
    'db'=>[
        'host' => 'localhost',
        'dbname' => '',
        'user' => 'root',
        'pass' => '',
        'charset' => 'utf8'
    ],
    'redis'=>[
        'scheme' => 'tcp',
        'host' => '127.0.0.1',
        'post' => 6379
    ],
    'email'=>[
        'mode' => '',     // debug：调试模式  、 production ：生产模式
        'port' => 25,
        'host' => 'smtp.126.com',
        'name' => 'xxxxxx@126.com',
        'pass' => '',
        'from_email' => 'xxxxxxx@126.com',
        'from_name'=> ''
    ]
];