<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/mail/send" method="POST">
        收件人邮箱：<input type="text" name="to"><br>
        邮件标题：<input type="text" name="title"><br>
        邮件内容：<input type="text" name="content"><br>
        <input type="submit" value="发送">
    </form>
</body>
</html>